{
  "semi": true,
  "tabWidth": 3,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "importOrder": [
    "^react/(.*)$",
    "^@mui/(.*)$",
    "./components",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}